<h1>
    Usuarios
</h1>

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">Formulario de Usuario</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row padding-3 hide">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">id</div>
            <div class="col-xs-8">
                <input id="txtId" class="form-control">
            </div>
        </div>
        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Código</div>
            <div class="col-xs-8">
                <input id="txtCodigo" class="form-control">
            </div>
        </div>
        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Nombre</div>
            <div class="col-xs-8">
                <input id="txtNombre" class="form-control">
            </div>
        </div>
        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Apellido</div>
            <div class="col-xs-8">
                <input id="txtApellido" class="form-control">
            </div>
        </div>
        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">E-mail</div>
            <div class="col-xs-8">
                <input id="txtEmail" class="form-control">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <button id="btnGrabar" class="btn btn-block btn-primary">
                    Grabar
                </button>
            </div>
            <div class="col-xs-2">
                <button id="btnEliminar" class="btn btn-block btn-danger">
                    Eliminar
                </button>
            </div>
            <div class="col-xs-2">
                <button id="btnLimpiar" class="btn btn-block btn-success">
                    Nuevo
                </button>
            </div>
        </div>
    </div>
</div>

<div id="divMensaje">&nbsp;</div>

<br>
<div id="gridContainer"></div>

<script>

    $(function () {

        var urlorigin = window.location.origin;
        var listarAhora = () => {
            listar(urlorigin + "/usuario/toList" , 'gridContainer' , 'usuarios' );
        };
        var leerFormulario = () => {
            var usuario = {
                '_id': $('#txtId').val(),
                'codigo': $('#txtCodigo').val(),
                'nombre': $('#txtNombre').val(),
                'apellido': $('#txtApellido').val(),
                'email': $('#txtEmail').val()
            };
            return usuario;
        };
        var inicio = () => {

            $('#txtId').attr('disabled', 'disabled');
            $('#txtCodigo').attr('disabled', 'disabled');

            $("#gridContainer").dxDataGrid(dxDataGridModelo);
            $("#gridContainer").dxDataGrid({
                columns: [
                    { dataField: 'id', visible: false },
                    { dataField: 'codigo' },
                    { dataField: 'nombre', sortOrder: "asc" },
                    { dataField: 'apellido' },
                    { dataField: 'email' }
                ],
                onSelectionChanged: function (e) {
                    if (e.selectedRowsData.length !== 0) {
                        var data = e.selectedRowsData;
                        console.log(data[0]);
                        $('#txtId').val(data[0]._id);
                        $('#txtCodigo').val(data[0].codigo);
                        $('#txtNombre').val(data[0].nombre);
                        $('#txtApellido').val(data[0].apellido);
                        $('#txtEmail').val(data[0].email);
                    }
                }
            });

            listarAhora();

        };
        var eventos = () => {
            $('#btnGrabar').click(async () => {

                var usuario = leerFormulario();
                var v_url = "";

                if ($('#txtCodigo').val().trim() === '') {

                    v_url = urlorigin + "/usuario/created";
                    grabar(v_url, usuario, listarAhora, 'divMensaje' );

                } else {

                    v_url = urlorigin + "/usuario/update";
                    var opcion = confirm("¿Seguro que desea modificar?");
                    if (opcion == true) {
                        grabar(v_url, usuario, listarAhora, 'divMensaje' );
                    }

                }

            });
            $('#btnEliminar').click(() => {

                var usuario = leerFormulario();
                var opcion = confirm("¿Seguro que desea eliminar?");
                if (opcion == true) {
                    grabar(urlorigin + "/usuario/delete", usuario, listarAhora , 'divMensaje' );
                }

            });
            $('#btnLimpiar').click(() => {
                $('#txtCodigo').val('');
                $('#txtNombre').val('');
                $('#txtApellido').val('');
                $('#txtEmail').val('');
                $('#txtNombre').focus();
            });

        };

        //
        
        inicio();
        eventos();

    });

</script>