<h1>
    Tipo Usuarios
</h1>

<hr>

<% include v_usuarios_tipo_partial/_formulario %>

<hr>

<div id="divMensaje" class="color-gray">&nbsp;</div>

<hr>

<div id="gridContainer"></div>


<% include v_usuarios_tipo_partial/_script %>