<footer>
    <div class="hide footer" id="footer">
        <div class="container padding-3">
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-adn"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-adn']);"><span
                            class="fa fa-adn"></span></a>
                    <a class="btn btn-social-icon btn-bitbucket"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-bitbucket']);"><span
                            class="fa fa-bitbucket"></span></a>
                    <a class="btn btn-social-icon btn-dropbox"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-dropbox']);"><span
                            class="fa fa-dropbox"></span></a>
                    <a class="btn btn-social-icon btn-facebook"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span
                            class="fa fa-facebook"></span></a>
                    <a class="btn btn-social-icon btn-flickr"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-flickr']);"><span
                            class="fa fa-flickr"></span></a>
                    <a class="btn btn-social-icon btn-foursquare"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-foursquare']);"><span
                            class="fa fa-foursquare"></span></a>
                    <a class="btn btn-social-icon btn-github"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);"><span
                            class="fa fa-github"></span></a>
                    <a class="btn btn-social-icon btn-google"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-google']);"><span
                            class="fa fa-google"></span></a>
                    <a class="btn btn-social-icon btn-instagram"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);"><span
                            class="fa fa-instagram"></span></a>
                    <a class="btn btn-social-icon btn-linkedin"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);"><span
                            class="fa fa-linkedin"></span></a>
                    <a class="btn btn-social-icon btn-microsoft"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-microsoft']);"><span
                            class="fa fa-windows"></span></a>
                    <a class="btn btn-social-icon btn-odnoklassniki"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-odnoklassniki']);"><span
                            class="fa fa-odnoklassniki"></span></a>
                    <a class="btn btn-social-icon btn-openid"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-openid']);"><span
                            class="fa fa-openid"></span></a>
                    <a class="btn btn-social-icon btn-pinterest"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-pinterest']);"><span
                            class="fa fa-pinterest"></span></a>
                    <a class="btn btn-social-icon btn-reddit"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-reddit']);"><span
                            class="fa fa-reddit"></span></a>
                    <a class="btn btn-social-icon btn-soundcloud"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-soundcloud']);"><span
                            class="fa fa-soundcloud"></span></a>
                    <a class="btn btn-social-icon btn-tumblr"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-tumblr']);"><span
                            class="fa fa-tumblr"></span></a>
                    <a class="btn btn-social-icon btn-twitter"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);"><span
                            class="fa fa-twitter"></span></a>
                    <a class="btn btn-social-icon btn-vimeo"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-vimeo']);"><span
                            class="fa fa-vimeo-square"></span></a>
                    <a class="btn btn-social-icon btn-vk"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-vk']);"><span
                            class="fa fa-vk"></span></a>
                    <a class="btn btn-social-icon btn-yahoo"
                        onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-yahoo']);"><span
                            class="fa fa-yahoo"></span></a>
                </div>
            </div>
            <div class="row hide">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i
                                        class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class="fa fa-facebook"> </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter"> </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus"> </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest"> </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube"> </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left font-size-9"> Copyright © Lucki Alan Fernandez Salcedo. All right reserved. </p>
            <div class="hide pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>